<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @Constants.AppName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/fancy-box/jquery.fancybox.css" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">@UITextConstants.Home</a></li>
                    <li class="nav-item active"><a class="nav-link" asp-area="" asp-controller="Gallery" asp-action="Index">@UITextConstants.Galleries</a></li>
                    <li class="nav-item active"><a class="nav-link" asp-area="" asp-controller="Posts" asp-action="Index">@UITextConstants.Posts</a></li>
                    <li class="nav-item active"><a class="nav-link" asp-area="" asp-controller="Teachers" asp-action="Index">@UITextConstants.Teachers</a></li>
                    <li class="nav-item active"><a class="nav-link" asp-area="" asp-controller="Registration" asp-action="Contact">@UITextConstants.Contact</a></li>

                    @*@if (User.Identity.IsAuthenticated && User.IsInRole(Constants.AdministratorRoleName))
                        {*@
                    @*todo*@
                    <li class="nav-item active"><a class="nav-link" asp-area="" asp-controller="AdministrationTasks" asp-action="Index">@UITextConstants.Administration</a></li>
                    @*}*@
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container">
        <br />
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @Constants.AppName</p>
        </footer>
    </div>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/fancy-box/jquery.fancybox.js"></script>
    <script src="~/js/masonry-docs.min.js"></script>
    <script src="~/js/Gallery.js"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
