@model PaginatedList<ImageViewModel>
<br />
<br />
<h3>@ViewData["Gallery"] </h3>
<br />
<p>@ViewData["GalleryDescription"]</p>
<br />
<a asp-action="Index">@UITextConstants.BackToList</a>
<br />
<br />

<div class="masonry-wrapper">
    <div class="masonry" id="images">

        @foreach (var item in Model)
        {
            <div class="masonry-item image-container hovereffect">
                <img src="@item.FilePath" title="@item.Title" alt="@item.AltText" class="masonry-content" id="@item.Id" />
            </div>
        }
        <div id="myModal" class="customModal">
            <span id="caption"></span>
            <span class="close">&times;</span>
            <img class="customModal-content" id="img01">
        </div>
    </div>
</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Images"
   asp-route-id="@ViewData["AlbumID"]"
   asp-route-page="@(Model.PageIndex - 1)"
   class="btn btn-outline-primary @prevDisabled">
    <<
</a>
<a asp-action="Images"
   asp-route-id="@ViewData["AlbumID"]"
   asp-route-page="@(Model.PageIndex + 1)"
   class="btn btn-outline-primary @nextDisabled">
    >>
</a>
@section scripts {
    <script src="~/lib/signalr/signalr.js"></script>
    <script src="~/js/Zoom.js"></script>
    <script src="~/js/LikeImage.js"></script>
}