@model List<HomePageCoversViewModel>
@{
    ViewData["Title"] = "Images";
}
<br />
<br />
<p>
    <a asp-action="UploadCoverPhotos">@UITextConstants.UploadImage</a>
</p>

<div class="card-group">
    @{
        int counter = 1;
        foreach (var item in Model)
        {
            <div class="col-md-6 col-lg-4" style="padding-bottom:10px;">
                <div class="card border-primary mb-5 h-100">
                    <img class="card-img-top" src="@item.FilePath" alt="@item.Title">
                    <div class="card-body pb-0">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="m-0">Снимка на позиция: @counter</p>
                    </div>
                    <div class="card-footer">
                        <a asp-action="Edit" asp-route-id="@item.Id">@UITextConstants.EditUpdate</a>
                        <br />
                        <hr />
                        <a asp-action="Delete" asp-route-id="@item.Id">@UITextConstants.Delete</a>
                    </div>
                </div>
            </div>
            counter++;
        }
    }

</div>


