@model IEnumerable<PaymentsViewModel>

@{
    ViewData["Title"] = "Payments";
}
<br />
<br />
<h4>@UITextConstants.Payments</h4>
<br />
<p>
    <a asp-action="AddPayment" asp-route-id="@ViewData["User"]">@UITextConstants.NewPayment</a>
</p>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paid)
                </td>
                <td>
                    @Html.ActionLink(UITextConstants.Pay, "Pay", new { id = item.Id }) |
                    @Html.ActionLink(UITextConstants.Delete, "DeletePayment", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">@UITextConstants.BackToList</a>
</div>